<div id="contact">
<h2>Contact</h2>

  <div class="contact">
    <div>
      <div class="coordonnée">
          <h3>Coordonnées:</h3>
          <ul>
            <li>Wild School Circus</li>
            <li>9 Allée Serr</li>
            <li>33300 BORDEAUX</li>
            <li>Tél. : 06.66.96.17.77 / elisa@wildcodeschool.fr</li>
          </ul>
      </div>

      <div class="horaire">
        <h3>Horaires</h3>
        <p>Les bureaux sont ouverts:</p>
        <ul>
          <li>les mardis, jeudis et vendredis de 14h00 à 19h30</li>
          <li>les mercredis et samedis de 9h30 à 19h00</li>
        </ul>
      </div>
    </div>

    <div class="carte">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1414.5171482918183!2d-0.5621074668738472!3d44.841234897377674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1580549634637!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>

  </div>

</div>
