<div class="footer">

    <p>© 2020 - Wild School Circus <mat-icon>favorite_border</mat-icon> - Julie Hellec</p>

    <div class="sociaux">
      <p>Suivez-Nous:</p>
      <div class="reseaux">
       <a href="https://www.facebook.com/WildCodeSchool/"><img src="../../../assets/facebook.png" alt="Logo de Facebook"></a>
       <a href="https://www.instagram.com/wildcodeschoolofficial/?hl=fr"></a> <img src="../../../assets/insta.png" alt="Logo de instagram">
       <a href="https://twitter.com/WildSchool_Bdx?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"></a> <img src="../../../assets/twitter.png" alt="Logo de twitter">

      </div>
    </div>
</div>

