.side{
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: 75vh;
  justify-content: space-around;
  align-items: center;
  .cours{
  background-color: white;
  border-radius: 20px;
  width: 25vw;
  height: 25vh;
  padding: 2%;
  }
}
