<div class="container">
  <div class="title" >
    <p>Wild School Circus</p>
  </div>

  <div class="navbar">
    <p routerLink="/accueil" fragment="qui"> Pour Qui?</p>
    <img src="../../../assets/etoile.png" alt="Icone d'une étoile rouge">
    <p routerLink="/accueil" fragment="equipe">L'Equipe</p>
    <img src="../../../assets/etoile.png" alt="Icone d'une étoile rouge">
    <p routerLink="/accueil" fragment="cours">Les Cours</p>
    <img src="../../../assets/etoile.png" alt="Icone d'une étoile rouge">
    <p routerLink="/accueil" fragment="contact"> Contact</p>
    <img src="../../../assets/etoile.png" alt="Icone d'une étoile rouge">
    <p routerLink="/signup">Connexion</p>
  </div>

</div>
