<div class="container">
  <div class="title" >
    <h3>Wild School Circus</h3>
  </div>

  <div class="navbar">
    <p routerLink="/accueil" fragment="pour qui"> Pour Qui?</p>
    <img src="../../../assets/etoile.png" alt="Icone d'une étoile rouge">
    <p routerLink="/accueil" fragment="equipe">L'Equipe</p>
    <img src="../../../assets/etoile.png" alt="Icone d'une étoile rouge">
    <p routerLink="/accueil" fragment="cours">Les Cours</p>
    <img src="../../../assets/etoile.png" alt="Icone d'une étoile rouge">
    <p routerLink="/accueil" fragment="contact"> Contact</p>
    <img src="../../../assets/etoile.png" alt="Icone d'une étoile rouge">
    <p routerLink="/profil">Mon Profil</p>
  </div>

</div>
