<div id="qui" class="container">

  <h2>Pour Qui?</h2>

<div class="flex">
  <div class="texte">
    <p>Née en 1981, l’École de Cirque de Bordeaux (ECB) est une association œuvrant à la découverte des arts du cirque et à la formation d’artistes.</p>

    <p>Installée sous un chapiteau dans le quartier Stalingrad, la Wild School Circus intervient sur 4 secteurs d’activités :
    <br>
      <li>pratique amateur avec des ateliers et stages pour petits et grands</li>
      <li>la formation pour les professionnels et ceux qui souhaitent faire du cirque leur métier</li>
    <br>
      La Wild School Circus de Bordeaux travaille aussi au développement d’une scène d’artistes émergents et développe en ce sens des partenariats avec divers organismes associatifs, culturels et d’enseignements.
      <br>
      C’est un lieu de passage et de rassemblement d’artistes, d’amateurs, de formateurs et d’amoureux de la piste.</p>
  </div>
</div>

</div>
